profiles {
  standard {
      workDir = '/data/human/spleen/nxf_spleen/work/'
      docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
      }
      process {
        withName: fastQC { 
          container = 'scrnaseq:latest' 
          }
        withName: mkref {
          container = 'scrnaseq:latest'
        }
        withName: count {
          container = 'scrnaseq:latest'
        }
        withName: postprocessing { 
          container = 'scrnaseq:latest' 
          }
      }
      }
  }