profiles {
  standard {
      workDir = '/data/human/spleen/nxf_spleen/work/'
      docker {
        enabled = false
        runOptions = '-u $(id -u):$(id -g)'
      }
      singularity {
        enabled = true
        autoMounts = true
      }
      process.container = '/data/human/spleen/nxf_spleen/singularity/sif/scrnaseq.sif' 
      }
  }