profiles {
  nimbus {
      workDir = '/data/human/spleen/nxf_spleen'
      
      process {
        withName: '1_fastQC' { container = 'audreystott/nxf_spleen:latest' }
        withName: '3_postprocessing' { container = 'audreystott/nxf_spleen:latest }
      }
      
      docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
      }

      params {
        output = "results/"
      }
  }
}